.stopwatch__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(10, 102, 233);
    height: 60px;
    font-size: 24px;
    font-weight: 800;
}